[package]
name = "candle-inplace-ops"
version = "0.1.0"
edition = "2024"

[dependencies]
candle-core = { version = "0.9.2", features = ["metal"] }
candle-metal-kernels = "0.9.2"
half = "2.7.1"
float8 = "0.6.0"
objc2 = "0.6.3"
objc2-metal = "0.3.2"
thiserror = "2.0.18"
